a:-webkit-any-link {
  text-decoration: none;
  cursor: default;
}

.black {
  color: black !important;
  text-decoration: none;
}

.LightBlue {
  color: #ADD8E6;
  text-decoration: none;
}

body {
  background: radial-gradient(
    circle at 10% 20%,
    rgb(211, 99, 99) 0%,
    rgb(228, 99, 99)100.2%
  );
  display: block;
  margin: 0;
}

.app {
  display: block;
  margin: 60px auto;
  max-width: 800px;
}

.weatherIcon {
  width: 75px;
  height: 75px;
}

.col-3 {
  flex: 0 0 auto;
  width: 25%;
}

.col-6 {
  flex: 0 0 auto;
  width: 50%;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  width: 100%;
}

.form-control {
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  width: 100%;
}

.icons {
  color: rgba(39, 33, 66, 0.4);
  font-size: 12px;
  margin: 10px 20px;
  text-align: center;
  margin-bottom: 40px;
}

.icons a {
  color: #ADD8E6;
  font-size: 12px;
  margin-bottom: 40px;
}

.icon {
  color: #37cacf;
}

.sun {
  width: 38px;
  height: 38px;
  margin: 15px 0;
}

.temperature-container {
  margin-top: 30px;
}

.units {
  position: relative;
  top: -40px;
  font-size: 23px;
}

.weather {
  font-family: "Cerebri-Sans", Helvetica, Arial, sans-serif;
  background: #fefcf1;
  border-radius: 16px;
  box-shadow: 0px 30px 50px rgba(65, 50, 100, 0.08);
  box-sizing: border-box;
  display: block;
  padding: 40px;
  color: rgb(135, 135, 135);
}

.weatherInfo {
  margin: 20px 0 40px 0;
}

.weather form {
  margin-top: 40px;
  border-bottom: 1px solid #f9f7fe;
  padding-bottom: 30px;
}

.weather .search-input {
  background: #f5f1fd;
  border: none;
  padding: 15px 20px;
  display: inline-block;
  border-radius: 6px;
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  height: 50px;
  line-height: 20px;
}

.weather .btn {
  background: #4B0082;
  font-weight: bold;
  font-size: 16px;
  padding: 15px 0;
  border: none;
  height: 50px;
  cursor: pointer;
}

.weather .btn:hover {
  background: #f1a5cf;
}

.btn-primary.active,
.btn-primary:active,
.open > .dropdown-toggle.btn-primary {
  background-color: #ef75b8 !important;
}

.weather .search-input::placeholder {
  line-height: 20px;
  color: rgb(75, 75, 75);
}

.weather h1 {
  margin: 20px 0 10px 0;
  line-height: 29px;
  font-weight: bold;
  font-size: 38px;
  line-height: 48px;

  color: #272142;
}

.weather ul {
  margin: 0;
  padding: 0;
}

.weather li {
  font-weight: 500;
  margin-bottom: 5px;
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  line-height: 20px;
  list-style: none;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
  text-transform: capitalize;
}
.weather li strong {
  color: #37cacf;
  font-weight: normal;
}

.weather .temperature {
  font-weight: bold;
  color: rgb(33, 33, 33);
  font-weight: 400;
  margin-left: 5px;
  font-weight: bold;
  font-size: 70px;
  line-height: 1;
}

.weather canvas {
  margin: 10px 0;
}

.weather .unit {
  color: rgb(33, 33, 33);
  font-size: 28px;
  line-height: 36px;
  font-weight: normal;
  position: relative;
  line-height: 1;
  top: -34px;
}

.w-100 {
  width: 100% !important;
}

.weatherForecast {
  border-bottom: 1px solid #f9f7fe;
  margin: 40px 0;
  padding-top: 40px;
  text-align: center;
}

.weatherForecast .forecast-time {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: rgba(39, 33, 66, 0.4);
}

.weatherForecast .forecast-temperature {
  font-style: normal;
  font-size: 18px;
  line-height: 1.5;
  color: #23a8a5;
  font-weight: bold;
}

.weatherForecast .forecast-temperature-min {
  margin-left: 10px;
  opacity: 0.6;
}

.weather .weatherForecast canvas {
  display: block;
  margin: 20px auto;
}