.heading {
  color: white;
  font-weight: bold;
  padding-bottom: 100px;
    
  }
.min{
  color: rgba(0, 0, 0, 0.5);
}

.start {
  
  max-width: 650px;
  margin: 0 auto;
  color: 282a36;
  text-align: center;
  padding: 50px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 19px;
}

.container {
background: radial-gradient(circle at 12.3% 19.3%,
      rgb(85, 88, 218) 0%,
      rgb(95, 209, 249) 100.2%);
  border: rgb(85, 88, 218) 0%;
  border-radius: 20px;
  box-shadow: 5px 6px 5px rgba(0, 0, 0, 0.2);
}

.search {
  padding: 42px;
  display: block;
  margin: 34px;
  text-align: center;
  width: 100%;
  box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.1);
}

.containerone {
  padding: 31px 31px;
}

.containertwo {
  padding: 31px 31px;
}

.weather {
  background: linear-gradient(-225deg, #5d9fff 0%, #b8dcff 48%, #6bbbff 100%);
  block-size: 200px;
  border: 2px white solid;
  border-radius: 25px;
}
#weather-five{
  display: flex;
  justify-content: space-around;
}
.emoji {
  font-size: 35px;
  display: inline;
}

.temperature {
  font-size: 35px;
  display: inline;
}

.first {
  position: relative;
  left: 190px;
  bottom: 50px;
  background: linear-gradient(-225deg, #5d9fff 0%, #b8dcff 48%, #6bbbff 100%);
    max-width: 150px;
    text-align: center;
    max-height: 200px;
    border: 2px white dotted;
    border-radius: 10px;   
    box-shadow: 5px 6px 5px rgba(0, 0, 0, 0.2);
}
.first:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.second {
  position: relative;
  right: 185px;
  top: -180px;
  background: linear-gradient(-225deg, #5d9fff 0%, #b8dcff 48%, #6bbbff 100%);
    max-width: 150px;
    padding: 40px 25px 40px 25px;
    text-align: center;
        max-height: 200px;
    border: 2px white solid;
    border-radius: 10px;
    text-align: center;
    box-shadow: 5px 6px 5px rgba(0, 0, 0, 0.2);
}

.third {
  position: relative;
  right: -181px;
  top: -380px;
  font-size: 30px;
  background: linear-gradient(-225deg, #5d9fff 0%, #b8dcff 48%, #6bbbff 100%);
    max-width: 150px;
padding: 60px;
text-align: center;
        max-height: 200px;
        padding: 30px 25px 30px 25px;
    border: 2px white solid;
    border-radius: 10px;
    box-shadow: 5px 6px 5px rgba(0, 0, 0, 0.2);
}


.day {
  font-size: 20px;
}

.date {
  font-size: 15px;
}

.icon {
  font-size: 25px;
}

.temp {
  font-size: 15px;
}

.wed {
  position: relative;
  right: 95px;
  top: -82px;
}

.Thurs {
  position: relative;
  right: -1px;
  top: -194px;
}

.Fri {
  position: relative;
  right: -95px;
  top: -307px;
}

.Sat {
  position: relative;
  right: -190px;
  top: -420px;
}

.active {
color: black;
cursor: default;
text-decoration: none;

}
.active:hover {
 text-decoration: none;

}
.units {
  font-size: 14px;
}

#description{
  text-transform: capitalize;
}